/*********** General Styles ***************/
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/***************** Header *************************/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
header nav {
    background-color: blue;
    color: white;
}
header nav a {
    display: inline-block;
    padding: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-left: 2px solid black;
}
header nav a:hover {
    background-color: white;
    color: black;
}
/************ First Section *********************/
main {
    margin-top: 42px;
}
section:first-child {
    position: relative;
    height: 500px;
    width: 100%;
}
.image {
    background-image: url("images/scienceBackground.webp");
    background-size: cover;
    opacity: 0.9;
    filter: blur(3px);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
}
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 70px;
    margin: 0;
    text-align: center;
    font-size: 80px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to top, rgb(255, 0, 0), rgb(0, 255, 0) 33%, rgb(0, 0, 255) 66%, rgb(225, 0, 0) 100%);
    background-size: 100% 200%;
    animation-name: move-gradient;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes move-gradient {
    to {
        background-position: 0% 200%;
    }
}
.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}
section:nth-child(2) {
    padding: 40px 40px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
section:nth-child(3) {
    padding: 0 40px 20px;
}
section:nth-child(3) a {
    padding: 20px;
    border: 2px solid black;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 30px;
    border-radius: 5px;
}
section:nth-child(3) a:hover {
    box-shadow: -3px 3px 7px 2px black;
    border: 2px solid blue;
}
section:nth-child(3) a i {
    float: right;
}
section:nth-child(3) h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}
/************ footer ************/
footer {
    padding: 10px 30px;
    background-color: blue;
    color: white;
    text-align: center;
}
/**************** other devices ************/
@media only screen and (max-width: 950px) {
    section:first-child {
        height: 300px;
    }
}
@media only screen and (max-width: 600px) {
    .main h1 {
        font-size: 50px;
        line-height: normal;
    }
    .main img {
        height: 200px;
        width: 133px;
    }
}
@media only screen and (max-width: 450px) {
    section:nth-child(2) p {
        font-size: 17px;
    }
    section:nth-child(3) a {
        font-size: 25px;
    }
}