/*********** General Styles ***************/
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/***************** Header *************************/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
header nav {
    background-color: blue;
    color: white;
}
header nav a {
    display: inline-block;
    padding: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-left: 2px solid black;
}
header nav a:hover {
    background-color: white;
    color: black;
}
/************ First Section *********************/
main {
    margin-top: 42px;
    font-family: 'Roboto', sans-serif;
    min-height: 80vh;
    padding: 10px;
}
h1 {
    text-align: center;
}
.games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}
.games a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.games figure {
    margin: 0;
}
.games a img {
    border: 2px solid black;
    width: 100%
}
.games a figcaption {
    text-align: center;
}
/************ footer ************/
footer {
    padding: 10px 30px;
    background-color: blue;
    color: white;
    text-align: center;
}
/*********** other devices ***********/
@media only screen and (max-width: 600px) {
    .games {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 400px) {
    .games {
        grid-template-columns: 1fr;
    }
}